* {
   /* border: 1px solid red;*/ 

}

.title {
    display: block;
    text-align: center;
}
body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: lightslategrey;
}

#grid {
    border: solid 1px black;
    background-color: blanchedalmond;
    float: right;
    display: grid;
    box-sizing: content-box;
    width: 50vw;
    height: 50vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.cell {
   background-color: white;
   border: 1px solid lightgray;
   display: block;
}

#settings {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

#sizeControl {
    display: inline-flex;
    margin: 0;
    padding: 0;

}

#boardArea {
    display: flex;
    gap: 20px;
}